<body>
	


		<div class="center">
			<div class="jumbotron">
				<h1 id="title">WHAT'S YOUR STORY ?</h1>
				<ul>
					<h1 style="font-family: 'Mohave-Bold'; font-size: 3em;">
						<div style=" float: left; margin: 20px;">
							<li>Got a <strong>Story</strong> to tell?<br>
								We are listening!
							</li>
							<br>
							<li>
								Feel like <strong>reading?</strong><br>
								We got your back!

							</li>
						</div>
						<div style="float: right;/* margin: 20px;*/ position: relative; left: 30px; top: 20px; ">
							<li>
								Want to <strong>collaborate</strong> and do stuff?<br>
								Sign up right now!

							</li>
							<br>
							<li>
								Welcome to <strong>AlphaBlog.</strong>
								<br>
								Make things Happen. <strong>Together!</strong>
							</li>
						</div>
					</h1>
				</ul>

			</div>
		</div>
	

	
</body>

<style type="text/css">
	body {
		background-color: #AB3E41;
	}

	#title {
		font-size: 100px;
		text-align: center;
	}

	.glyphicon {
		font-size: 7em;
		position: relative;
		/*right: 20px;*/
		top: 100px;
		left: 20px;

		/*margin: auto;*/

	}
	
	.jumbotron {
		margin-top: 40px;
		background-color: #3E3E3E;
		color: #AB3E41;
		height: 500px;
	}
</style>

<!--  -->