$navbar-default-bg: #3E3E3E;



#logo{
float: left;
font-size: 2em;
letter-spacing: -1px;
font-weight: bold;
font-family: 'Dancing Script', cursive;
color: #AB3E41;
}

#btn-font{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1.7em;
text-align: center;
margin-top: 20px;
}


#logo:hover {
color: #AB3E41;
text-decoration: none;
}
#color-change {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1.7em;
}
#color-change:hover {
color: #AB3E41;
text-decoration: none;
}

@font-face {
font-family: 'Mohave-Bold';
src: url('Mohave-Bold.otf');
}

#title {
font-family: 'Mohave-Bold', 'Fjalla One', sans-serif;
}

footer {
border-top: 1px solid #3E3E3E;
color: #3E3E3E;
text-decoration: none;
margin-top: 10px;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}




@import "bootstrap-sprockets";
@import "bootstrap";