<div class="container">
	<footer class="footer">
		<small>
			Alpha Blog &copy; Made by Tanveer Singh.
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to 'About', about_path, style: "color: #3E3E3E;" %>
				</li>
			</ul>
		</nav>
	</footer>
</div>