<!-- WAY OF DISPLAYING A MESSAGE WHEN ARTICLE GETS SUCCESSFULLY CREATED! -->
	<%	flash.each do |name, msg| %>
	<ul>
		<li>
			<%= msg %>
		</li>
	</ul>
	<% end %>
<!-- ***********************************************-->